// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your page container, using the frontend toolkit grid layout.

// Content wraps the entire site content block, between the header and footer.
// See elements _layout.scss line 8.
#content {
  @include site-width-container;
  @include contain-floats;
  display: block;
  padding-bottom: $gutter;
  @include media(desktop) {
    padding-bottom: $gutter*3;
  }
}

// Here's an example heading
// See elements _typography.scss line 11.
#content h1 {
  @include bold-48();
  margin-top: $gutter-half;
  margin-bottom: $gutter;
  @include media(tablet) {
    margin-top: $gutter;
    margin-bottom: $gutter*2;
  }
}

// Set up the phase banner
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
  strong {
    text-transform: uppercase;
  }
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}






// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.








/* New style back from Register to Vote */
/* - - - - - - - - - - - - - - - - - -  */

.back-to-previous {
font-family: "nta", Arial, sans-serif;
font-size: 16px;
line-height: 1.25;
font-weight: 300;
text-transform: none;
display: block;
position: static;
text-decoration: none;
border-bottom: #0b0c0c 1px solid;
width: 2.25em;
background: url("/public/images/icon-caret-left.png") left 0.2em no-repeat;
padding-left: 0.75em;
text-align: right;
margin: 2em 0 0 0;
overflow: hidden
}

@media (max-width: 640px){.back-to-previous {
  font-size: 14px;
  line-height: 1.14286
}
}

form .back-to-previous {
position: absolute;
margin: 0
}

article .back-to-previous {
margin: 0
}

@media (max-width: 640px){.back-to-previous {
  font-size: 16px
}
}

a.back-to-previous, a.back-to-previous:active, a.back-to-previous:hover,
a.back-to-previous:focus {
color: #0b0c0c
}






/* Breadcrumbs across top bar */
/* - - - - - - - - - - - - -  */

.breadcrumb {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  background: white;
  padding: 1em 2em 0 2em; }

.breadcrumb li {
  display: inline-block;
  margin: 0;
  padding: 0; }

#global-breadcrumb {
  padding: 0.75em 0;
  margin: 0 1em 0 0;
  z-index: 50;
  background-color: #fff; }

@media (min-width: 769px) {
  #global-breadcrumb {
    margin: 0 2em 0 0; } }

#global-breadcrumb nav {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  border: none; }

#global-breadcrumb nav ol {
  margin: 0;
  padding-left: 0; }

#global-breadcrumb nav ol li {
  font-family: "nta", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  background-image: url('/public/images/separator.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  float: left;
  list-style: none;
  margin-left: 0;
  margin-right: 0.5em;
  padding-right: 1em; }

@media (max-width: 640px) {
  #global-breadcrumb nav ol li {
    font-size: 1.4rem;
    line-height: 1.14286; } }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #global-breadcrumb nav ol li {
    background-image: url('/public/images/separator-2x.png');
    background-size: 6px 11px; } }

#global-breadcrumb nav ol li a {
  color: #0b0c0c; }

#global-breadcrumb nav ol li strong {
  font-weight: normal; }

#global-breadcrumb nav ol li:last-child {
  background-image: none;
  margin-right: 0; }

#global-breadcrumb, .page-header {
  margin-left: 0;
  margin-right: 15px; }

@media (min-width: 641px) {
  #global-breadcrumb, .page-header {
    margin-left: 0;
    margin-right: 30px; } }

#global-breadcrumb li {
  margin-bottom: 0; }







/* View Driving Licence + bits */
/* - - - - - - - - - - - - - - */

/* for fake start page */
.top-tasks li {
text-decoration:none;
list-style-type:none;
margin-left:0;
padding-bottom:0.5em;
}

/* for fake form page */
.disclaimer-box {
background-color: #D5E8F3;
padding: 1em 2em 0.5em 1em;
margin: 0 5em 2em 0;
}

/* for fake details page */
.share-dl {
line-height: 0.8;
padding: 1.2em 0 0 0;
}

/* for fake vehicles page */
.vehicle-icon {
  width:2em;
  height:2em;
  float: left;
  line-height:2em;
  text-align:center;
  border: 2px black solid;
  border-radius: 3px;
  padding:3px;
  margin-right: 1em;
}
.vehicle-icon img {
  max-height:100%;
  max-width:100%;
  vertical-align: middle;
}
.vehicle-category {
  font-weight: 700;

}
.vehicle-icon:after {
clear:both;
}

/* for share code page */
.sharecode {
font-weight: bold;
font-size: 2em;
background-color: #eee;
padding: 0.2em 0.5em;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}






/* Table Data as UL  */

/* Table/List for basic data */
ul.ul-data {
  list-style-type: none;
  list-style-image: none;
  padding-left: 0;
  padding-top: 0.5em;
  margin-bottom: 0; }

@media (max-width: 640px) {
  ul.ul-data {
    margin-left: 0.3em;
    margin-right: 0; } }

ul.ul-data li {
  border-bottom: 1px solid #c6ccd1;
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0;
  padding-bottom: 5px;
  width: 100%; }

ul.ul-data li:first-child {
  border-top: 1px solid #c6ccd1;
  padding-top: 5px; }

ul.ul-data li span:first-child {
  width: 38%;
  float: left;
  /*display: inline;*/
  display: -moz-inline-stack;
  display: inline-block; }

ul.ul-data li span:first-child:after {
  content: ":"; }

@media (max-width: 475px) {
  ul.ul-data li span {
    width: 100% !important; } }

ul.ul-data li strong {
  width: 60%;
  float: left;
  font-weight: 700;
  /*display: inline;*/
  display: -moz-inline-stack;
  display: inline-block; }

@media (max-width: 475px) {
  ul.ul-data li strong {
    width: 100% !important; } }

ul.ul-data li.mot-pass {
  border-left: solid green 3px;
  color: green;
  border-bottom: none;
  border-top: none;
  padding: 0.12em 0 0 1em;
  margin-bottom: 8px; }

ul.ul-data li.mot-fail {
  border-left: solid red 3px;
  color: red;
  border-bottom: none;
  border-top: none;
  padding: 0.12em 0 0 1em;
  margin-bottom: 8px; }

ul.ul-data li a {
  float: right;
  font-weight: 300;
  /*display: inline;*/
  display: -moz-inline-stack;
  display: inline-block; }

@media (max-width: 475px) {
  ul.ul-data li strong {
    width: 100% !important; } }







/* Tabs for View Driving Licence */

.nav-tabs {
    zoom: 1.3;
    background: #fff;
    padding: 0;
    position: relative
}
@media (max-width: 800px) {
  .nav-tabs {
  zoom:1
  }
}

.nav-tabs:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.nav-tabs ol, .nav-tabs ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5

}

@media (max-width: 640px) {
    .nav-tabs ol, .nav-tabs ul {
        float: none;
        margin: 0 -16px
    }
}

.nav-tabs li {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    padding: 0;
    margin: 0;
    background-color: #eee;
    float: left
}

@media (max-width: 640px) {
    .nav-tabs li {
        font-size: 14px;
        line-height: 1.14286
    }
}

@media (max-width: 640px) {
    .nav-tabs li {
        float: none
    }
}

.nav-tabs li a {
    border: solid 1px #fff;
    border-bottom: none;
    float: left;
    height: 2.25em;
    line-height: 2.25em;
    margin-bottom: -1px;
    padding: 0.25em 1em 0 1em;
    position: relative;
    text-align: center;
    top: 0
}

@media (max-width: 640px) {
    .nav-tabs li a {
        display: block;
        position: static;
        float: none;
        height: auto;
        line-height: 3.5em;
        padding: 0 16px;
        text-align: left;
        margin-bottom: 0;
        border-bottom: 1px solid #bfc1c3

    }
}

.nav-tabs li a:hover {
    background-color: #bfc1c3
}

.nav-tabs li.active a {
    background-color: #fff;
    border: solid 1px #bfc1c3;
    border-bottom: solid 1px #fff;
    color: #0b0c0c;
    position: relative;
    text-decoration: none;
    z-index: 5
}

@media (max-width: 640px) {
    .nav-tabs li.active a {
        border: none;
        border-bottom: 1px solid #bfc1c3
    }
}

.nav-tabs li.active a:hover {
    color: inherit
}

.nav-tabs li:first-child a {
    margin-left: 0
}

@media (max-width: 640px) {
    .nav-tabs li:first-child a {
        border-left: none;
        border-top: 1px solid #bfc1c3
    }
}

@media (max-width: 640px) {
    .tab-content {
        margin: 0 -1em
    }
}

.tab-content .tab-pane {
    padding: 1em 1em 0 1em;
    border-top: solid 1px #bfc1c3;
    clear: both;
    width: auto
}

@media (max-width: 640px) {
    .tab-content .tab-pane {
        border-top: none;
        padding: 0
    }
}

.tab-content .inner {
    padding: 0em 2.5em 1em
}

@media (max-width: 640px) {
    .tab-content .inner {
        padding: 0 1em 1em;
        border-bottom: solid 1px #C9D0D0
    }
}

.tab-content h1.visuallyhidden+h2 {
    margin-top: 2em
}

.tab-content p {
    padding: 0;
    margin-left: 0;
    margin-right: 0
}

.tab-content em {
    font-style: normal;
    font-weight: bold
}

.tab-content nav {
    margin: 1em -1.375em 0
}

.js-tab-content .programme-progression li, .js-tab-content .js-heading-tab {
    border-bottom: solid 1px #bfc1c3;
    list-style: none
}

.js-tab-content .programme-progression li a, .js-tab-content .programme-progression li h1,
.js-tab-content .js-heading-tab a, .js-tab-content .js-heading-tab h1 {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.875;
    font-weight: 400;
    text-transform: none;
    background: #FFF url(https://assets.digital.cabinet-office.gov.uk/static/accordian-arrow-10f715576be0695dd4a580b50e7d5f68.png) no-repeat 100% -2px;
    display: block;
    padding: 0 16px;
    position: relative;
    text-align: left;
    text-decoration: underline;
    top: 0
}

@media (max-width: 640px) {
    .js-tab-content .programme-progression li a, .js-tab-content .programme-progression li h1,
    .js-tab-content .js-heading-tab a, .js-tab-content .js-heading-tab h1 {
        font-size: 18px;
        line-height: 2.64706
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .js-tab-content .programme-progression li a, .js-tab-content .programme-progression li h1,
    .js-tab-content .js-heading-tab a, .js-tab-content .js-heading-tab h1 {
        background-image: url(https://assets.digital.cabinet-office.gov.uk/static/accordian-arrow-2x-8be5139fd89449e13c1b83d26fec8406.png);
        background-size: 45px 90px
    }
}

.js-tab-content .programme-progression li a:hover, .js-tab-content .programme-progression li h1:hover, .js-tab-content .js-heading-tab a:hover, .js-tab-content .js-heading-tab h1:hover {
    background-color: #dee0e2
}

.js-tab-content .programme-progression li.active, .js-tab-content .js-heading-tab.active {
    text-decoration: none
}

.js-tab-content .programme-progression li.active a, .js-tab-content .programme-progression li.active h1,
.js-tab-content .js-heading-tab.active a, .js-tab-content .js-heading-tab.active h1 {
    background-position: 100% -48px;
    background-color: #dee0e2;
    color: #0b0c0c;
    text-decoration: none
}

.js-tab-content .js-heading-tab {
    margin: 0;
    clear: both
}

.js-tab-content .js-heading-tab h1 {
    padding: 0
}

.js-tab-content .tab-shiftlink {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    position: absolute;
    left: -9999em
}

@media (max-width: 640px) {
    .js-tab-content .tab-shiftlink {
        font-size: 16px;
        line-height: 1.25
    }
}

@media (max-width: 640px) {
    .js-tab-content .tab-shiftlink {
        position: static;
        left: auto
    }
}

@media (max-width: 640px) {
    .js-tab-content .js-tab-container {
        min-height: 0
    }

    .js-tab-content .js-tab-pane {
        border-bottom: solid 1px #bfc1c3
    }

    .js-tab-content .js-tab-container:first-child {
        border-top: solid 1px #bfc1c3
    }
}

.transaction .js-tab-content {
    overflow: hidden
}





/* Hacky bits for Share Driving Licence (AoCP)  */

.vdl-cat-pic {
width:31%;
float:left;
margin-right:1.5em;
margin-bottom:2em;
}

.summarybox-green {
float:left;
width:30%;
background-color:#399;
margin-right:1.5em;
}
.summarybox-title {
color:#fff;
background-color:#288;
padding:0.4em 0.2em 0.4em 0.5em;
font-weight:700;
margin-top:0;
}
.summarybox-text {
color:#fff;
padding:0.4em 0.2em 0.4em 0.5em;
}




