{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>
  
  <script type="text/javascript" src="/public/javascripts/application.js"></script>
  
{{/head}}

{{$propositionHeader}}
  {{>includes/govuk_navigation_searchbox}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}



	
<main id="wrapper" role="main">
  <div id="content">
    <div class="inner-block">

			<div id="global-breadcrumb" class="header-context">
		      <nav role="navigation">
		        <ol class="group">
		          <li><a href="#">Home</a></li>
		          <li><a href="#">Driving and transport</a></li>
				  <li><a href="#">Number plates and vehicle registration</a></li>
		        </ol>
		      </nav>
		    </div>
	
	
	
			<div class="grid grid-2-3">
	
			<h1 class="heading-36">Transfer a vehicle into the motor trade</h1>
	
			<h1 class="heading-24">Your dealer may do this for you</h1>
	
			<p>This service is intended for use by professionals in the motor trade, insurance companies or scrap dealers to transfer registration of vehicles entering their responsibility.</p>
	
	
	
			<h1 class="heading-24">Before you start you will need:</h1>
			<ul>
				<li class="list-bullet">the most recent vehicle registration certificate (V5C)</li>
				<li class="list-bullet">to transfer a personal registration number if the keeper wishes to retain it</li>
			</ul>
		
		
			
			<!-- ><form action="transfer-to-trade-p1.html">
				<button type="submit" id="continue" class="button get-started">Start now</button>
			</form> -->
				
			<a href="transfer-1" class="button button-get-started">Start now</a>
		
		
			
			<h1 class="heading-24">Vehicle tax refunds</h1>
	
			<p>DVLA will issue an automatic refund for any full remaining months of vehicle tax to the address on the V5C, and any direct debit (DD) will also be cancelled.</p>
		

	
			<h1 class="heading-24">If you are not in the motor trade</h1>
	
			<p>There are seprate directions for members of the public buying or selling cars. It's important you don't transfer registration of your vehicle until you are ready to. Your dealer may help you with this process.</p>
	
			<p><a href="https://www.gov.uk/notifying-dvla-if-you-sell-your-vehicle">Telling the DVLA if you sell your vehicle</a></p>
	
			<p><a href="https://www.gov.uk/government/publications/application-to-transfer-or-retain-a-vehicle-registration-number">Transfer or retain a vehicle registration number</a></p>
	

	
		</div>

    </div>
  </div>
</main>
{{/content}}

{{/govuk_template}}
