{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}










		<h1>GOV.UK Verify might not work for you</h1>


	<div class="article-container">

		<article>

			<p>
				To verify an identity, certified companies access credit records then ask you to confirm this information. As most young people and newcomers to the UK have a limited 'credit history', companies might not be able to check your identity in this way.
			</p>

			<h2>What you'll need on your credit record</h2>

			<p>Your identity might be verified if you have 2 or more of the following:</p>

			<ul>
				<li>current account with a UK bank</li>
				<li>credit card</li>
				<li>personal loan</li>
				<li>mortgage</li>
				<li>gas or electricity bills</li>
				<li>mobile phone contract</li>
				<li>registered to vote</li>
			</ul>

			<p>You'll also need a UK passport or a UK driving licence.</p>

			<p><a href="http://govuk-verify-test.herokuapp.com/financial-records?requestId=dvla&validAge=true&validTimeInUK=true">Try to verify my identity online anyway</a></p>

			<h2>Start the service using your National Insurance number</h2>

			<h3>You'll need</h3>

			

			

			

			

			<ul>
			<li>your driving licence number</li>
			  <li>your National Insurance number</li>
			  <li>the postcode on your driving licence</li>
			</ul>
			

			<h2>Don't know your driving licence number?</h2>

			

			<h3>You'll need</h3>

			

			<ul>
				<li>your personal details</li>
			  <li>your National Insurance number</li>
			  <li>the postcode on your driving licence</li>
			</ul>
			

			<a href="vdl-form" class="button-get-started button" style="padding-right:2em;margin-top:25px">Start</a>

			

			

			

			
			
		</article>
	</div>




    </main>


    

{{/content}}

{{/layout}}
