{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  
  
  <h2 class="heading-large">Paul's prototypes</h2>


  <h2 class="heading-medium">Vehicles</h2>
  <ol class="list-number">

    <li>
    Made a rough prototype of a mobile-first single column <a href="vm/transfer-start">'Transfer a vehicle into the motor trade'</a> (VM - Dispose)
    </li>

    <li>
    Started making a rough prototype of <a href="vm/retain">'Take a registration number off a vehicle'</a> (VM - Retain)
    </li>

    <li>
    Made an initital prototype of <a href="motinfo/vvr-mot-info">'View a vehicle record + MOT info'</a> single page
    </li>

  </ol>




  <h2 class="heading-medium">Drivers : Change details</h2>
  <ol class="list-number">

    <li>
    <a href="details/driving-licence-change-address-1">Using 'View Driving Licence', user can change address or renew from here</a>
    </li>

    <li>
    <a href="details/change-address-1">Stand alone change address need to identify (not using GOV.UK Verify)</a>
    </li>

    <li>
    <a href="details/change-address-3">User is already authenticated via access to VDL, so skips to 'new address' part</a>
    </li>

    <li>
    <a href="details/change-address-6">Address change from licence, user can also change vehicle keeper records</a>
    </li>

	  <li>
    Made a prototype of Drivers Medical, 'Vision V1 Form'
    </li>

  </ol>



  <h2 class="heading-medium">Drivers : Share driving licence (AoCP)</h2>
  <ol class="list-number">

    <li>
    <a href="vdlshare/vdl-start">Start page for 'View Driving Licence'</a>
    </li>

    <li>
    <a href="vdlshare/vdl-form">Form to access 'View Driving Licence'</a>
    </li>

    <li>
    <a href="vdlshare/vdl-details">Once viewing their Driving Licence,  user can create a share token</a>
    </li>

    <li>
    <a href="vdlshare/verify-vdl-start">For third party, a new service and start page to verify token</a>
    </li>


  </ol>




  <h2 class="heading-medium">DVLA : Styleguide</h2>
  <ol class="list-number">

    <li>
    <a href="dvlastyle/index">Capturing methods, patterns and elements used on DVLA services</a>
    </li>

  </ol>
	  



  <h2 class="heading-medium">Others</h2>

  <ol class="list-number">

    <li>
    Made a prototype of a couple of steps into the Dart Charge pages - <a href="dart-start-1">Start page</a>
    </li>

    <li>
    <a href="dart-account-1">Set up an account</a> choose page - <a href="dart-account-1-1">Local account</a>
    </li>
    
  </ol>




</main>
{{/content}}

{{/layout}}
