{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  
  
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>
  
  <script type="text/javascript" src="/public/javascripts/application.js"></script>
  
 
  
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_blank}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}



	
<main id="wrapper" role="main">
  <div id="content">
    <div class="inner-block">

    		<a class="back-to-previous" href="#">Exit<span class="visuallyhidden"> to the start page</span></a>

		
		
		
	<article>
	
	
	<h2 class="heading-large">
	Change address
	</h2>









	<div id="your-details">


	<!-- <ul class="ul-data">

		<li><span>Licence valid from</span><strong>15 Oct 2013</strong></li>

		<li><span>Licence valid to</span><strong>22 Dec 2014 </strong></li>

		<li><span>Driving licence number</span><strong>CLEGH710023PJ9BL</strong></li>

		<li><span>Licence issue number</span><strong>12</strong></li>

	</ul>

	-->

    
   
    
    
	<!-- end #your-details -->




	<fieldset>

		<div class="form-group">
			<label class="form-label" for="address-postcode"><h2 class="heading-medium">National Insurance number</h2></label>
			<input type="text" class="form-control form-control-1-2" id="address-postcode">
			<p class="form-hint">Example: QQ 12 34 56 C</p>
		</div>



		<details style="padding-bottom:2em" class="grid grid-2-3">
		<summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true">
			<span class="summary">I don’t know my National Insurance number</span>
		</summary>
		<div class="" id="details-content-0" aria-hidden="false" style="display:block;border-left:none">
		<h2 class="visuallyhidden">I don’t know my National Insurance number</h2>
		<p>You can:</p>

		<ul>
            <li>look for your National Insurance number on payslips or official letters about tax, pensions or benefits</li>
            <li><a href="https://www.gov.uk/lost-national-insurance-number">ask for a reminder through the post</a></li>
        </ul>
			
		</div>
		</details>





		<div class="form-group">
		<a href="change-address-1" class="button">Continue</a>
		</div>

		
	</fieldset>




	
	
	

	



</article>		

<!-- hide this next action button 
<form action="get" class="form" style="margin-top:2.5em">
	<fieldset>
		<div style="float:left;padding-right:1em">
		  <input type="submit" class="button" value="Finish">
		</div>
	  

		<div>
		  <p><a href="transfer-3">
			Search for another vehicle
		</a></p>
		</div>

	</fieldset>
</form>
-->
                

    </div>
  </div>
</main>
{{/content}}

{{/govuk_template}}
